/* static/css/index.css */

.card-title {
  color: #005f99;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* index.css にこれ追加してみて： */
.card {
  border: 3px solid red;
}
.card-text.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
}
body {
  background-color: #193a57;
}